@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
@import "https://fonts.googleapis.com/css?family=Muli&display=swap";

/*START OF MENU AND NAV BAR */

*{
  font-family: 'Muli', sans-serif;
}


.homeNav {
  float: right; 
  display: inline-block;
}

.xLogo {
  display: inline-block;
  line-height: 50px;
}

.topNav {
  background-color: #8e8e8e;
  overflow: hidden;
  width: 100%;
  position: relative;
  text-align: center!important;
}

.menuNav {
  float: left;
  display: inline-block;
  vertical-align: middle;
}

/* Style the links inside the navigation bar */


.topNav a {
  vertical-align: middle;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

/* Change the color of links on hover */
.topNav a:hover {
  background-color: #ddd;
  color: black;
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.modal{
    display: none;
    position: relative;
    width: 200px;
    z-index: 60;
    float: left;
    margin-left: 0;
}

.modal a{
  background-color: #eee; /* white background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px;  /*Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.modal a:hover {
  background-color: #ccc;
}

/*END OF MENU AND NAVIGATION BAR*/



.page-body{
  height:800px;
}

/*Overall page layout with backgorund image*/
.page-content{
  left: 15%;
  width:70%;
  height: 40%;
  margin-bottom: 20%;
  position: relative;
  background-image: url("pic3.jpg");
  background-repeat:no-repeat;
}

/*Logo Placement*/
#_yourlogoImage{
    position:relative;
    top:5%;
    text-align: center;
  }

/*Welcome text box placement*/
._welcometextBox{
    top: 8%;
    text-align: center;
    position:relative;
    font-size:30px;
    color: white;
  }


.iconMenu {
  top: 100%;
  width: 90%;
  padding-left: 5%;
  padding-top: 5%;
  display: inline-block;
  position: absolute;
  font-size: 80px;
  text-align: center!important;
}

/*My Profile Image*/
#_myprofileImage{
    width: 33%;
    float: left;
    color: #8e8e8e;
    display: inline-block;
  }

/*Mentoring Image*/
#_mentoringImage{
    width: 33%;
    display: inline-block;
    color: #8e8e8e;
  }

/*Goals Image*/
#_goalsImage{
    width: 33%;
    float: right;
    color: #8e8e8e;
    display: inline-block;
  }

.iconText {
  color: #8e8e8e;
  font-size: 20px;
}


#_myprofiletextBox{
    width: 33%;
    float: left;
    color: #8e8e8e;
    display: inline-block;
  }


#_mentoringtextBox{
    width: 33%;
    color: #8e8e8e;
    display: inline-block;
  }

#_goalstextBox{
    width: 33%;
    float: right;
    color: #8e8e8e;
    display: inline-block;
  }




/*Footer*/
.branding-footer-fixed{
    position:fixed;
    bottom:0;
    width:80%
  }

/*Footer*/
#brandfooterbottom{
    background:white !important;
    padding-top:30px;
    color:black !important
  }

/*Footer*/
#brandfooterbottom a {
    font-size:25px;
    text-decoration: none;
    color:blue !important
  }
