@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');



html, body {
  margin:0;
  padding:0;
  height:100%
}



body {
  background-color: #364045;
  min-width: 1200px;
}


*{
  font-family: 'Open Sans', sans-serif;
}

/*START OF MENU AND NAV BAR */

.homeNav {
  float: right; 
  display: inline-block;
}

.xLogo {
  display: inline-block;
  line-height: 50px;
}

.topNav {
  padding-top: 0;
  background-color: #8e8e8e;
  overflow: hidden;
  width: 100%;
  min-width: 600px;
  position: relative;
  text-align: center!important;

}

.menuNav {
  float: left;
  vertical-align: middle;
}

.topNav a {
  vertical-align: middle;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

.topNav a:hover {
  background-color: #ddd;
  color: black;
}

.close {
  position: absolute;
  right: 25px;
  top: 10px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.modal {
    display: none;
    position: absolute;
    width: 200px;
    z-index: 700;
    float: left;
    margin-top: 57px;
    margin-left: 0;
}

.modal a{
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.modal a:hover {
  background-color: #ccc;
}

/*END OF MENU AND NAVIGATION BAR*/

.mainBody h1 {
  font-size: 40px;
  width: 100%;
  text-align: center;
  color: #FFF;
}


/* Column container */
.leftContainer {  
  height: 100%;
  width: 300px;
  position: absolute;
  top: 58px;
  left: 0;
  background-color: #388AB2;
  overflow-x: hidden;
  padding-top: 20px;
}


.profileImageLink img {
  cursor: pointer;
}

.profileSection {
  margin-top: 10px;
}

.leftContainer #accordion {
  padding-left: 5%;
  padding-right: 5%;
}

.leftContainer h2 {
  width: 100%;
  text-align: center;
  color: #FFF;
}

.card h5 {
  padding-left: 5px;
  display: inline-block;
  font-size: 20px;
  color: #364045;
}

.card .fas {
  display: inline-block;
  font-size: 20px;
  color: #364045;
  width: 25px;
}


/* Main column */
.mainBody {   
  position: absolute;
  left: 300px;
  right: 300px;
  min-width: 600px;
  background-color: #364045;
  padding: 20px;
}

/* Fake image, just for this example */
.profileImage {
  background-color: #FFF;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 150px;
  height: 140px;
  border-radius: 50%;
}

.dimcamImage {
  border-radius: 50%;
  margin-top: 5%;
  padding: 5px;
}


.iconMenu a:hover {
  opacity: 0.4;
}

.iconMenu {
  top: 100%;
  width: 100%;
  min-width: 500px;
  padding-top: 5%;
  padding-right: 30px;
  position: absolute;
  font-size: 80px;
  text-align: center!important;
}

#iconMenu .fas{
    color:#FFF;
  }

/*Mentoring Image*/
#_mentoringImage{
    width: 25%;
    float: left;
    display: inline-block;
  }

/*Goals Image*/
#_goalsImage{
    width: 25%;
    float: left;
    display: inline-block;
  }

/*Calendar Image*/
#_calendarImage{
    width: 25%;
    display: inline-block;
  }

/*Resources Image*/
#_resourcesImage{
    width: 25%;
    float: right;
    display: inline-block;
  }

.iconText {
  font-size: 20px;
}

.iconText a {
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
}


#_mentoringtextBox{
    width: 25%;
    float: left;
    display: inline-block;
  }

#_goalstextBox{
    width: 25%;
    float: left;
    display: inline-block;
  }

#_calendartextBox{
    width: 25%;
    display: inline-block;
  }

#_resourcestextBox{
  width: 25%;
  float: right;
  display: inline-block;
}


.rightContainer {  
  height: 100%;
  width: 300px;
  position: relative;
  float: right;
  background-color: #388AB2;
  overflow-x: hidden;
  padding-top: 20px;
}


.rightContainer h2 {
  font-size: 40px;
  color: #FFF;
  text-align: center; 
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}


/*Start of News Feed Section*/

#newsFeedUpdate1 {
  width: 95%;
  border: 5px solid grey;
  height: 150px;
  background-color: #FFF;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

.newsFeedImage1 {
  background-color: grey;
  display: inline-flex;
  margin-top:  5px;
  margin-left: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.newsFeedImageStock1 {
  color: white;
  margin-left: 6px;
  padding: 7px;
}

.newsFeedName1 {
 position: relative;
 align-content: center;
 left: 10px;
 color: gray;
}




#newsFeedUpdate2 {
  width: 95%;
  border: 5px solid grey;
  height: 150px;
  background-color: #FFF;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

#newsFeedUpdate3 {
  width: 95%;
  border: 5px solid grey;
  height: 150px;
  background-color: #FFF;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

#newsFeedUpdate4 {
  width: 95%;
  border: 5px solid grey;
  height: 150px;
  background-color: #FFF;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

#newsFeedUpdate5 {
  width: 95%;
  border: 5px solid grey;
  height: 150px;
  background-color: #FFF;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

#newsFeedUpdate6 {
  width: 95%;
  border: 5px solid grey;
  height: 150px;
  background-color: #FFF;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

#newsFeedUpdate7 {
  width: 95%;
  border: 5px solid grey;
  height: 150px;
  background-color: #FFF;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

#newsFeedUpdate8 {
  width: 95%;
  border: 5px solid grey;
  height: 150px;
  background-color: #FFF;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

#newsFeedUpdate9 {
  width: 95%;
  border: 5px solid grey;
  height: 150px;
  background-color: #FFF;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

#newsFeedUpdate10 {
  width: 95%;
  border: 5px solid grey;
  height: 150px;
  background-color: #FFF;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

