
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";



body {
	margin: 0;
	padding: 0;
  font-family: "Segoe UI",Arial,sans-serif;
	background-color: #364045;
}


button {
  background-color: rgba(82,207,245,1);
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

/*Padding for text and boxes in log in form*/
.container {
  padding: 2px 20px 50px 20px;
  font-size: 18px;
  color: white;
}


/*New Form*/

.form-area {
    background-position: center bottom;
    background-color: #364045;
    position: relative;
    z-index: 1;
}

.form-area:before {
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.form-area {
    box-shadow: 0 0 38px #666;
    margin: 40px auto;
    max-width: 500px;
}

.form-sign {
    padding: 46px 60px;
}

.nav-tabs {
    border: none;
    padding-left:17px;
}

.sign-log-wrap .tab-content {
    margin-top: 70px;
}

.sign-log-wrap .nav.nav-tabs li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-right: 30px;
    padding-left: 0;
    padding-right: 0;
    text-transform: uppercase;
}

.sign-log-wrap .nav > li > a:focus,
.sign-log-wrap .nav > li > a:hover {
    background: none;
    border: 1px solid transparent;
    color: #1066F9;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: #fff;
    cursor: default;
    background: none;
    border: 0px solid #ddd;
    border-bottom: 2px solid #1066F9;
}

.sign-log-wrap label {
    width: 100%;
    text-transform: uppercase;
    color: #fff
}

.form-input-group label,
.form-input-checkbox {
    padding-left: 17px;
}

.sign-log-wrap .form-input-group input {
  background: rgba(255, 255, 255, .3) none repeat scroll 0 0;
  margin-top: 10px;
}

.sign-log-wrap .form-input-group input,
.form-input-group button {
    border: medium none;
    border-radius: 20px;
    color: #222;
    padding: 9px 17px;
    width: 100%;
}

.form-input-checkbox label {
    width: auto;
    text-transform: none;
}

.form-input-group label {
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}

.form-input-group button {
    background: #1161ee none repeat scroll 0 0;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 17px;
    -webkit-transition: .3s;
    transition: .3s;
}

.form-input-group button:hover {
    background: #fff none repeat scroll 0 0;
    color: #1161ee;
}

.form-bor {
    border-bottom: 1px solid #36384d;
    margin-bottom: 33px;
    padding-bottom: 62px;
}

.forgot-pass {
    color: #dddd;
    display: block;
    text-align: center;
}

.forgot-pass:hover {
    color: #fff
}

.sign-log-wrap .form-input-group {
    margin-bottom: 17px;
}


/*Old Form*/
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}


.modal-content {
  background-color: #8e8e8e;
  color: white;
  margin: 5% auto 20px; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 350px; /* Could be more or less, depending on screen size */
}


.modal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	padding-top: 60px; 
}

 /*CSS for home page*/

.welcome {
	width: auto;
	position: absolute;
	top: 40%;
	left: 50%;
	color: white;
	transform: translate(-50%,-50%);
}


.login {
  background-color: rgba(82,207,245,1);
  color: white;
  font-size: 20px;
  padding: 15px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.login:hover{
	opacity: 0.8;
}

.newUser {
  background-color: rgba(82,207,245,1);
  color: white;
  font-size: 20px;
  padding: 15px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.newUser:hover{
	opacity: 0.8;
}
