
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";


body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url(pic1.jpg);
	background-size: cover;
}

.welcome {
	width: auto;
	position: absolute;
	top: 40%;
	left: 50%;
	color: white;
	transform: translate(-50%,-50%);
}


.login {
	background-color: #f1f1f1;
	font-size: 18px;
	color: #3F568B;
	padding: 10px 15px;
	margin: 10px 0;
	border: 2px solid #c0a5e6;
	cursor: pointer;
	width: 60%;
	opacity: 0.7;
}

.login:hover{
	opacity: 1;
}

.newUser {
	background-color: #f1f1f1;
	font-size: 18px;
	color: #3F568B;
	padding: 10px 15px;
	margin: 8px 0;
	border: 2px solid #c0a5e6;
	cursor: pointer;
	width: 60%;
	opacity: 0.7;
}

.newUser:hover{
	opacity: 1;
}