@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";


body {
	font-family: sans-serif;
/*	background-color: rgba(69, 6, 115,0.8);*/
	background: url(pic1.jpg);
	background-size: cover;
}

* {
	box-sizing: border-box;
}



/*Add padding to entire user form*/
.container {
	border: 2px solid white;
	padding: 15px;
	width: 600px;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	background-color: #A0A0A0;
	color: white;
}

/*Full-width input fields*/
input[type=text], input[type=password] {
	width: 60%;
	border: none;
	border-bottom: 2px solid #c0a5e6;
	overflow: hidden;
	color: white;
	font-size: 18px;
	padding: 8px;
	margin: 5px 0 10px 0;
	background: none;
}


/*not sure what this is doing*/
input[type=text]:focus, input[type=password]:focus {
	background-color: #726C86;
	color: white;
	outline: none;
}

/*Overwrite default styles of hr breaks*/
hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}

/*Setting a style for the submit button*/

.submit {
	background-color: #f1f1f1;
	font-size: 18px;
	color: #3F568B;
	padding: 16px 20px;
	margin: 8px 0;
	border: 2px solid #c0a5e6;
	cursor: pointer;
	width: 60%;
	opacity: 0.7;
}

.submit:hover {
	opacity: 1;
}

/*Adding a blue text color to links*/
a {
	color: purple;
}

/*Setting a grey background color and center the text of the "sign in" section*/

