@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  padding: 0; 
  margin: 0;
  background-color: #364045;
}


*{
  font-family: 'Open Sans', sans-serif;
}

/*START OF MENU AND NAV BAR */

.homeNav {
  float: right; 
  display: inline-block;
}

.xLogo {
  display: inline-block;
  line-height: 50px;
}

.topNav {
  padding-top: 0;
  background-color: #8e8e8e;
  overflow: hidden;
  width: 100%;
  min-width: 600px;
  position: relative;
  text-align: center!important;

}

.menuNav {
  float: left;
  vertical-align: middle;
}

.topNav a {
  vertical-align: middle;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

.topNav a:hover {
  background-color: #ddd;
  color: black;
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.modal{
    display: none;
    position: absolute;
    width: 200px;
    z-index: 60;
    float: left;
    margin-left: 0;
}

.modal a{
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.modal a:hover {
  background-color: #ccc;
}

/*END OF MENU AND NAVIGATION BAR*/


h1 {
  width: 100%;
  text-align: center;
  color: white;
}


.profileImage {
  text-align: center;
  display: block;
  padding-bottom: 20px;

}

.personalInformation {
  text-align: center;
  display: block;
  padding-bottom: 50px;

}

.firstName {
  text-align: center;
  padding-bottom: 10px

}

.lastName {
  text-align: center;
  padding-bottom: 10px

}

.headline{
  text-align: center;
  padding-bottom: 10px

}


.locationCountry {
  text-align: center;
  padding-bottom: 10px

}

.locationState {
  text-align: center;
  padding-bottom: 10px

}

.aboutMeTextArea {
  text-align: center;
  padding-bottom: 10px
  width: 50px
  height: 20px

}



.education {
  text-align: center;
  display: block;
  padding-bottom: 50px;

}

.university {
  text-align: center;
  padding-bottom: 10px

}

.program {
  text-align: center;
  padding-bottom: 10px;

}

.grade {
  text-align: center;
  padding-bottom: 10px

}


.form-group {
  text-align: center;

}
