html, body {
  margin:0;
  padding:0;
  height:100%
}

body {
  background:
    linear-gradient(
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)),
    url(../html/pictures/splashPage.jpg) no-repeat center fixed;
  background-size: cover;
}

.logo{
  background:
    url(..html/pictures/wixExample.jpg);
}

.mentorxLogo img {
  margin-left: 100px;
  text-align: center!important;
  font-size: 50px;
  height: 500px;
}

.mentorxLogo {
  height: 500px;
  display: absolute;
  top: 0;
  vertical-align: top;
  text-align: center;
}