<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>MentorX</title>
  <link rel="stylesheet" href="css/Splash.css">
  <link rel="icon" href="css/images/XLogo2.png">
</head>

<body>
