<!DOCTYPE html>

<%- include("header") -%>

<!-- class for the logo in the cetner of the page -->
<div class="mentorxLogo">
	<img src="css/images/XLogoFull.png"/>
</div>


<!-- script to push the webpage automically to the login screen after 2,000 milliseconds -->
<script>
	var timer = setTimeout(function() {
		window.location="/login"
	}, 3000);
</script>


<%- include("footer") -%>
