@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?g60vnf');
	src:url('fonts/icomoon.eot?#iefixg60vnf') format('embedded-opentype'),
		url('fonts/icomoon.woff?g60vnf') format('woff'),
		url('fonts/icomoon.ttf?g60vnf') format('truetype'),
		url('fonts/icomoon.svg?g60vnf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^=""], [class*=""] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sai-www{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe63d;');}
.sai-dbtools{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe64f;');}
.sai-mail{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe650;');}
.sai-settings{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe651;');}
.sai-polls{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe652;');}
.sai-customersupport{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe600;');}
.sai-dashboard{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe601;');}
.sai-databases{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe602;');}
.sai-delete{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe603;');}
.sai-demo{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe604;');}
.sai-disk{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe605;');}
.sai-download{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe606;');}
.sai-ecommerce{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe607;');}
.sai-educational{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe608;');}
.sai-emptystar{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe609;');}
.sai-erp{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60a;');}
.sai-external{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60b;');}
.sai-file{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60c;');}
.sai-files{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60d;');}
.sai-film{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60e;');}
.sai-firstpage{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60f;');}
.sai-folder{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe610;');}
.sai-forums{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe611;');}
.sai-frameworks{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe612;');}
.sai-fullstar{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe613;');}
.sai-galleries{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe614;');}
.sai-games{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe615;');}
.sai-graph{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe616;');}
.sai-gridview{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe617;');}
.sai-guestbooks{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe618;');}
.sai-halfstar{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe619;');}
.sai-home{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe61a;');}
.sai-info{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe61b;');}
.sai-installations{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe61c;');}
.sai-lastpage{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe61d;');}
.sai-leftarrow{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe61e;');}
.sai-list{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe61f;');}
.sai-logout{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe620;');}
.sai-message_queue{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe621;');}
.sai-menu{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe622;');}
.sai-microblogs{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe623;');}
.sai-music{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe624;');}
.sai-others{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe625;');}
.sai-pen{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe626;');}
.sai-pfx_icon{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe627;');}
.sai-statistics{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe628;');}
.sai-print{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe629;');}
.sai-process{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe62a;');}
.sai-projectman{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe62b;');}
.sai-question{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe62c;');}
.sai-remove{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe62d;');}
.sai-restore{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe62e;');}
.sai-rightarrow{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe62f;');}
.sai-rss{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe630;');}
.sai-search{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe631;');}
.sai-settinground{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe632;');}
.sai-utilities{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe633;');}
.sai-shuffle{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe634;');}
.sai-socialnetworking{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe635;');}
.sai-success{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe636;');}
.sai-sync{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe637;');}
.sai-twitch{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe638;');}
.sai-upload{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe639;');}
.sai-video{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe63a;');}
.sai-warning{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe63b;');}
.sai-wikis{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe63c;');}
.sai-admanager{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe63e;');}
.sai-apps{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe63f;');}
.sai-java_containers{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe640;');}
.sai-java_tools{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe641;');}
.sai-modules{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe642;');}
.sai-server_side_scripting{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe643;');}
.sai-stacks{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe644;');}
.sai-version_control{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe645;');}
.sai-backup{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe646;');}
.sai-bell{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe647;');}
.sai-blogs{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe648;');}
.sai-calendars{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe649;');}
.sai-cms{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe64a;');}
.sai-comment{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe64b;');}
.sai-control_panel{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe64c;');}
.sai-copy{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe64d;');}
.sai-security{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe653;');}
.sai-web_servers{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe64e;');}
.sai-widgets{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe612;');}
.sai-libraries{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe618;');}